@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.tabla-container {
  flex-direction: column;
  display: flex;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra todo verticalmente */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width : 400px;
  gap: 10px;
  padding: 20px;
  background-color: #333;
  background-image: url("../images/Bomba.png");
  }
  
  .tabla {
    border-collapse: separate;
    border-spacing: 10px;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    width: auto;
    text-align: center;
    color: white;
  }
  
  .tabla th, .tabla td {
    border: 0,5px solid #888;
    font-size: 18px;
  }
  
  .tabla th {
    background-color: #555;
    color: #100d04;
  }
  
  .tabla tr:nth-child(even) {
    background-color: #222;
  }
  
  .tabla tr:hover {
    background-color: #444;
  }

  .button-container{ 
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 50px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/Boton-Container");
  }

  .button {
    width: 30px;
    height: 30px;
    background-color: red;  
    border: 2px solid black; 
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px; 
    font-size: 9px; 
    font-family: 'Staatliches', sans-serif; 
    cursor: pointer;
    transition: 0.3s; 
    line-height: 1; 
    text-transform: uppercase; 
}


button:hover {
    background-color: darkred;
    border-color: white;
}


