.tablero-container {
    flex-direction: column;
    border-collapse: separate;
    display: flex;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra todo verticalmente */
    height: 100%;
    width: 100%;
    padding: 20px;
 
    background-repeat: no-repeat;
    }