.contenedor-tablas {
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column; /* ✅ Apila las tablas una encima de otra */
    align-items: center; /* ✅ Centra horizontalmente */
    gap: 20px; /* ✅ Espacio entre tablas */
}

.tabla-laberinto {
    position: absolute; /* Se pega arriba dentro del contenedor */
    top: 15px;
    left: 50%;
    width: 90px; /* Ajusta según el tamaño de la celda */
    height: 90px;
    transform: translateX(-50%);
    border: 1px #000000;
    border-collapse: collapse; 
}

.tabla-laberinto td {
    position: relative;
    justify-content: center; 
    align-items: center;
    position: relative;
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: #309e2c; 
}


.cuadrado-jugador{
    position: absolute; /* Se posiciona dentro de la celda sin modificarla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el cuadrado en la celda */
    width: 8px;  /* Tamaño del cuadrado */
    height: 8px;
    background-color: red;
}

.cuadrado-final{
    position: absolute; /* Se posiciona dentro de la celda sin modificarla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el cuadrado en la celda */
    width: 8px;  /* Tamaño del cuadrado */
    height: 8px;
    background-color: rgb(254, 254, 254);
}
.tabla-boton {
    border-collapse: collapse;
    transform: translateY(100px);
    margin-top: 10px;
    width: 70px;
    height: 30px;
}


.boton-derecha , .boton-izquierda{
    width: 24px;
    height: 25px;
    justify-content: center; 
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boton-derecha{
    background-image: url("./../images/images-laberinto/boton-derecha.png");
}

.boton-izquierda{
    background-image: url("./../images/images-laberinto/boton-izquierda.png");
}

.boton-abajo , .boton-arriba {
    width: 29px;
    height: 13px;
    justify-content: center; 
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boton-arriba{
    background-image: url("./../images/images-laberinto/boton-arriba.png");
}

.boton-abajo{
    background-image: url("./../images/images-laberinto/boton-abajo.png");
}
