@font-face {
    font-family: 'DS-DIGITB';
    src: url('../assets/fonts/DS-DIGIB.TTF');
}

.DS-DIGITB {
    font-family: 'DS-DIGITB', sans-serif;
}

.clock {
    transform: translateY(20%);
    transform: translateX(10%);
    height: 20px ;
    width : 120px;
    font-family: 'DS-DIGITB', monospace;
    font-size: 20px;
    color: rgb(8, 10, 8);
    background: #309e2c;
    border: 3px solid black;
    border-color:black ;
}
.contador-container{
    width: 160px;
    height: 80px;
    background-image: url("../assets/images/images-boton/contador-container.png");
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 0;
}

.tr-boton-arr , .tr-boton-aba{
    height: 15px ;
    width : 30px;
}

.tr-boton-aba{
    background-image: url("../assets/images/images-boton/boton-aba.png");
}

.tr-boton-arr{
    background-image: url("../assets/images/images-boton/boton-arr.png");
}

.tr-digito{
    height: 30px ;
    width : 30px;
    font-family: 'DS-DIGITB', monospace;
    font-size: 20px;
    color: rgb(8, 10, 8);
    background: #309e2c;
    border: 3px solid black;
    border-color:black ;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center; 
    align-items: center;
}
