@font-face {
    font-family: 'DS-DIGITB';
    src: url('../fonts/DS-DIGIB.TTF');
}

.DS-DIGITB {
    font-family: 'DS-DIGITB', sans-serif;
}

.clock {
    transform: translateY(20%);
    transform: translateX(10%);
    height: 20px ;
    width : 120px;
    font-family: 'DS-DIGITB', monospace;
    font-size: 20px;
    color: rgb(8, 10, 8);
    background: #309e2c;
    border: 3px solid black;
    border-color:black ;
}

.botones-container{
    width: 160px;
    height: 50px;
}

.boton-roj , .boton-blanc , .boton-negr{
    height: 50px ;
    width : 50px;
}

.boton-roj {
    background-image: url("../images/images-boton/boton-roj.png");
}

.td-boton{
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center; 
    align-items: center;
}
